.zView {
  @padding: 5px;

  @element-padding: 20px;
  @element-background: #fff;
  @element-color: #333;
  @element-hover-color: #08c;
  @element-border-radius: 3px;

  &,
  & * {
    box-sizing: content-box;
  }

  padding: @padding;
  background-color: @element-background;
  border-radius: 5px;

  box-shadow: 0 38px 30px -18px rgba(0, 0, 0, 0.5);

  .zView-navigator {
    position: absolute;
    margin: 0;

    &.zView-navigator-x-left {
      left: @element-padding;
    }
    &.zView-navigator-x-center,
    &.zView-navigator-x-middle {
      left: 50%;
    }
    &.zView-navigator-x-right {
      right: @element-padding;
    }

    &.zView-navigator-y-top {
      top: @element-padding;

      &.zView-navigator-x-right {
        /* Fix for the play/pause button */
        margin-right: 35px;
      }
    }
    &.zView-navigator-y-center,
    &.zView-navigator-y-middle {
      top: 50%;
      margin-top: -15px;

      &.zView-navigator-x-left {
        /* Fix for the left arrow */
        margin-left: 35px;
      }
      &.zView-navigator-x-right {
        /* Fix for the right arrow */
        margin-right: 35px;
      }
    }
    &.zView-navigator-y-bottom {
      bottom: @element-padding;
    }

    padding-left: 0;

    li {
      list-style: none;
      float: left;

      background-color: @element-background;

      a {
        display: block;
        line-height: 30px;

        padding-top: 3px;

        text-align: center;

        color: @element-color;
        text-decoration: none;

        font-size: 72px;

        &:hover,
        &.active {
          color: #08c;
        }
      }

      &.zView-navigator-prev,
      &.zView-navigator-next {
        a {
          width: 30px;
          font-size: 16px;

          padding-top: 0;
          padding-bottom: 3px;
        }
      }

      &.zView-navigator-prev {
        border-top-left-radius: @element-border-radius;
        border-bottom-left-radius: @element-border-radius;
      }
      &.zView-navigator-next {
        border-top-right-radius: @element-border-radius;
        border-bottom-right-radius: @element-border-radius;
      }
    }
  }

  .zView-playpause,
  .zView-prev,
  .zView-next {
    position: absolute;

    display: block;
    width: 30px;
    line-height: 30px;
    font-size: 16px;
    padding-bottom: 3px;

    background-color: @element-background;

    color: @element-color;

    text-decoration: none;
    text-align: center;

    border-radius: @element-border-radius;

    &:hover {
      color: @element-hover-color;
    }
  }

  .zView-playpause {
    top: @element-padding;
    right: @element-padding;
    padding-bottom: 0;

    &.zView-playpause-play {
      padding-left: 3px;
      width: 27px;
    }
    &.zView-playpause-pause {
      padding-right: 6px;
      width: 24px;
    }
  }

  .zView-prev,
  .zView-next {
    top: 50%;

    margin-top: -15px; 
  }
  .zView-prev {
    left: @padding;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .zView-next {
    right: @padding;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}